body{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card{
  box-shadow: 2px 2px 10px #424242;
  border-radius: 10px;
  min-height: 300px;
  margin: auto;
}

h1{
  margin: 30px 0 90px
}

a {
  font-size: 30px;
  text-decoration: none;
  color: #000;
  padding: 15px;
  background-color: #e2e2e2;
  border-radius: 10px;
}