*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #313a18aa;
}

.painel{
  max-width: 350px;
  height: 300px;
  margin: auto;
  text-align: center;
  background-color: #fff;
  box-shadow: 2px 2px 20px #000;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}

.painel h1{
  margin-top: 20px;
}

.painel input{
  margin: 25px 25px 25px -2px;
  padding: 5px 10px;
  border: 2px solid #414d21ee;
  border-radius: 10px;
  width: 50%;
}
.painel button{
  background-color: #313a18;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
}

.painel #resultado{
  margin-left: 90px;
  width: 80%;
  text-align: left;
  line-height: 2;
}