body{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: rgb(78, 141, 160);
}

.painel{
background-color: rgb(181, 212, 131);
width: 400px;
height: 450px;
padding: 10px;
margin: auto;
text-align: center;
border-radius: 20px;
box-shadow: 1px 1px 2px black;
}

button{
background-color: rgb(84, 84, 167 );
border: none;
color: rgb(255, 255, 255);
height: 22px;
border-radius: 4px;
box-shadow: 1px 1px 2px black;
}

button:hover{
background-color: black;
transition: 1s;
cursor: pointer;
}

#cep{
font-size: 15px;
}

#resultado{
text-align: left;
margin-left: 70px;
}







